<!DOCTYPE html>
<html>

<head>
    <title>Beautifyconverter.com Yaml To HTML Converter</title>
</head>

<body>
<table>
    <tr>
        <td>swagger</td>
        <td>info.description</td>
        <td>info.version</td>
        <td>info.title</td>
        <td>info.termsOfService</td>
        <td>info.contact.email</td>
        <td>info.license.name</td>
        <td>info.license.url</td>
        <td>host</td>
        <td>schemes.0</td>
        <td>paths./hello.get.security.0.Bearer</td>
        <td>paths./hello.get.tags.0</td>
        <td>paths./hello.get.summary</td>
        <td>paths./hello.get.description</td>
        <td>paths./hello.get.responses.200.description</td>
        <td>paths./api/security/verify.get.tags.0</td>
        <td>paths./api/security/verify.get.summary</td>
        <td>paths./api/security/verify.get.description</td>
        <td>paths./api/security/verify.get.responses.200.description</td>
        <td>paths./api/security/login.post.tags.0</td>
        <td>paths./api/security/login.post.summary</td>
        <td>paths./api/security/login.post.description</td>
        <td>paths./api/security/login.post.operationId</td>
        <td>paths./api/security/login.post.produces.0</td>
        <td>paths./api/security/login.post.produces.1</td>
        <td>paths./api/security/login.post.parameters.0.name</td>
        <td>paths./api/security/login.post.parameters.0.in</td>
        <td>paths./api/security/login.post.parameters.0.description</td>
        <td>paths./api/security/login.post.parameters.0.required</td>
        <td>paths./api/security/login.post.parameters.0.type</td>
        <td>paths./api/security/login.post.parameters.1.name</td>
        <td>paths./api/security/login.post.parameters.1.in</td>
        <td>paths./api/security/login.post.parameters.1.description</td>
        <td>paths./api/security/login.post.parameters.1.required</td>
        <td>paths./api/security/login.post.parameters.1.type</td>
        <td>paths./api/security/login.post.responses.200.description</td>
        <td>paths./api/security/login.post.responses.200.schema.type</td>
        <td>paths./api/security/login.post.responses.200.headers.X-Rate-Limit.type</td>
        <td>paths./api/security/login.post.responses.200.headers.X-Rate-Limit.format</td>
        <td>paths./api/security/login.post.responses.200.headers.X-Rate-Limit.description</td>
        <td>paths./api/security/login.post.responses.200.headers.X-Expires-After.type</td>
        <td>paths./api/security/login.post.responses.200.headers.X-Expires-After.format</td>
        <td>paths./api/security/login.post.responses.200.headers.X-Expires-After.description</td>
        <td>paths./api/security/login.post.responses.400.description</td>
        <td>paths./api/security/device/list.get.tags.0</td>
        <td>paths./api/security/device/list.get.summary</td>
        <td>paths./api/security/device/list.get.description</td>
        <td>paths./api/security/device/list.get.operationId</td>
        <td>paths./api/security/device/list.get.produces.0</td>
        <td>paths./api/security/device/list.get.produces.1</td>
        <td>paths./api/security/device/list.get.responses.200.description</td>
        <td>paths./api/security/device/list.get.responses.400.description</td>
        <td>paths./api/security/device/list.get.responses.404.description</td>
        <td>paths./api/security/device/remove/.get.tags.0</td>
        <td>paths./api/security/device/remove/.get.summary</td>
        <td>paths./api/security/device/remove/.get.description</td>
        <td>paths./api/security/device/remove/.get.operationId</td>
        <td>paths./api/security/device/remove/.get.produces.0</td>
        <td>paths./api/security/device/remove/.get.produces.1</td>
        <td>paths./api/security/device/remove/.get.responses.200.description</td>
        <td>paths./api/security/device/remove/.get.responses.404.description</td>
        <td>securityDefinitions.petstore_auth.type</td>
        <td>securityDefinitions.petstore_auth.authorizationUrl</td>
        <td>securityDefinitions.petstore_auth.flow</td>
        <td>securityDefinitions.petstore_auth.scopes.write:pets</td>
        <td>securityDefinitions.petstore_auth.scopes.read:pets</td>
        <td>securityDefinitions.Bearer.type</td>
        <td>securityDefinitions.Bearer.name</td>
        <td>securityDefinitions.Bearer.in</td>
    </tr>
    <tr>
        <td>2.0</td>
        <td>This is a sample server.</td>
        <td>1.0.0</td>
        <td>Swagger</td>
        <td>http://swagger.io/terms/</td>
        <td>apiteam@swagger.io</td>
        <td>Apache 2.0</td>
        <td>http://www.apache.org/licenses/LICENSE-2.0.html</td>
        <td>petstore.swagger.io</td>
        <td>http</td>
        <td></td>
        <td>welcome</td>
        <td>welcome Controller</td>
        <td></td>
        <td>Success</td>
        <td>user</td>
        <td>Verify user</td>
        <td></td>
        <td>Success</td>
        <td>user</td>
        <td>Logs user into the system</td>
        <td></td>
        <td>loginUser</td>
        <td>application/xml</td>
        <td>application/json</td>
        <td>username</td>
        <td>query</td>
        <td>The user name for login</td>
        <td>true</td>
        <td>string</td>
        <td>password</td>
        <td>query</td>
        <td>The password for login in clear text</td>
        <td>true</td>
        <td>string</td>
        <td>successful operation</td>
        <td>string</td>
        <td>integer</td>
        <td>int32</td>
        <td>calls per hour allowed by the user</td>
        <td>string</td>
        <td>date-time</td>
        <td>date in UTC when token expires</td>
        <td>Invalid username/password supplied</td>
        <td>device</td>
        <td>Get list of device</td>
        <td></td>
        <td>getDeviceList</td>
        <td>application/xml</td>
        <td>application/json</td>
        <td>successful operation</td>
        <td>Invalid username supplied</td>
        <td>User not found</td>
        <td>device</td>
        <td>Remove device</td>
        <td></td>
        <td>removeDevice</td>
        <td>application/xml</td>
        <td>application/json</td>
        <td>successful operation delete device</td>
        <td>device uuid not found</td>
        <td>oauth2</td>
        <td>http://petstore.swagger.io/oauth/dialog</td>
        <td>implicit</td>
        <td>modify pets in your account</td>
        <td>read your pets</td>
        <td>apiKey</td>
        <td>Authorization</td>
        <td>header</td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
</body>

</html>